__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
env/
ENV/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.env

instance/
*.log

*.egg
*.egg-info/
dist/
build/

*.sqlite3
.pytest_cache/